<% include ../partials/header %>
<div class = "container">
	<div class = "col-md-3">
		<h4>YelpCamp</h4>
		<ul class="list-group">
			<li class="list-group-item active">First item</li>
			<li class="list-group-item">Second item</li>
			<li class="list-group-item">Third item</li>
		</ul>
		<div id='map'></div>
		<script src='https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js'></script>
		<script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
		<script>
			var search = 'Winnipeg'
			mapboxgl.accessToken = 'pk.eyJ1IjoidHJ1bmd0ODk5OCIsImEiOiJjanVjeXVjc3QwMXY1NDNtdG05aXgyNXJiIn0.pTYDSCaJyVfprrxxsXFzAQ';
			// eslint-disable-next-line no-undef
			var mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });
			mapboxClient.geocoding.forwardGeocode({
				query:'<%= campgrounds.location %>',
				autocomplete: false,
				limit: 1
			})
			.send()
			.then(function (response) {
			if (response && response.body && response.body.features && response.body.features.length) {
			var feature = response.body.features[0];
			
			var map = new mapboxgl.Map({
			container: 'map',
			style: 'mapbox://styles/mapbox/streets-v11',
			center: feature.center,
			zoom: 10
			});
			new mapboxgl.Marker()
			.setLngLat(feature.center)
			.addTo(map);
			}
			});
	</script>
	</div>
	<div class="col-md-9">
		<div class = "thumbnail" style="padding: 0">
			<img src="<%= campgrounds.image %>" style="width:100% ; margin-bottom:10px; height: 20%" alt="Campground Image">
			<div class="caption-full">
				<div class="pull-right"></div>
				<h4><%= campgrounds.name.toUpperCase() %></h4>
				<p style="margin-top:10px"><%= campgrounds.description %></p>
				<p>
					<em>Submitted by: <strong><%= campgrounds.author.username %></strong>, <%= moment(campgrounds.createdAt).fromNow() %></em>
				</p>
				<% if (currentUser && campgrounds.author._id.equals(currentUser._id)){ %>
					<a class="btn btn-xs btn-warning" href = "/campgrounds/<%= campgrounds._id%>/edit">Edit</a>
					<form id="delete_form" action="/campgrounds/<%= campgrounds._id %>/?_method=DELETE" method = "POST">
						<button class="btn btn-xs btn-danger">Delete</button>
					</form>
				<% } %>
			</div>
		</div>
		<div class = "well">
			<div class="pull-right">
				<a class="btn btn-success" href = "/campgrounds/<%= campgrounds._id%>/comments/new">Leave a Review</a>
			</div>
			<br>
			<hr>
			<div>
				<% campgrounds.comments.forEach(function(comment){ %>
					<div class="pull-left"><strong><%= comment.author.username %></strong></div>	
					<span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>	
					<br>
					<p><%= comment.text %></p>
					<% if (currentUser && comment.author._id.equals(currentUser._id)){ %>
						<a class="btn btn-xs btn-warning" href = "/campgrounds/<%= campgrounds._id%>/comments/<%= comment._id%>/edit">Edit</a>
						<form id="delete_form" action="/campgrounds/<%= campgrounds._id %>/comments/<%= comment._id%>?_method=DELETE" method = "POST">
							<button class="btn btn-xs btn-danger">Delete</button>
						</form>
					<% } %>
				<% }) %>
			</div>
		</div>
	</div>
</div>
<h1></h1>







<% include ../partials/footer %>